service cloud.firestore {
  match /databases/{database}/documents {
    match /visits/{visit} {
      allow read;
      allow create: if request.auth != null;
      allow update, delete: if false;
    }

    match /totems/{totem} {
      allow read, write: if false;
    }
  }
}