body {
  margin: 0;
}

p,
body {
  font-family: 'Crimson Text';
}

p {
  margin: 0.5em 0;
}

button,
input {
  font-family: 'Work Sans';
}

label {
  font-style: oblique;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: 'Crimson Text';
  font-weight: bold;
  margin: 0;
}
