.container {
  display: flex;
  padding: 16px;
  padding-bottom: 24px;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.title {
  line-height: 1.05;
}

.totobeeName {
  font-style: oblique;
}

textarea,
input[type='text'] {
  font-size: 16px;
  padding: 15px 20px;
  margin: 10px 0;
  margin-bottom: 50px;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.24);
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.24);
}

textarea {
  height: 5em;
  width: 100%;
}

.formButton {
  width: 100%;
  display: inline-block;
  border: none;
  padding: 15px 40px;
  margin: 0;
  margin-top: 16px;
  margin-bottom: 30px;
  text-decoration: none;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: all 250ms ease-in-out;
  background: #8e2de2; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4a00e0,
    #8e2de2
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  box-shadow: 0px 0px 16px 0px rgba(41, 23, 131, 0.4);

  color: white;
  border-radius: 60px;
  font-weight: bold;

  &:not(.buttonDone):disabled {
    background: grey;
  }
}

.buttonDone {
  background: #159957; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #155799,
    #159957
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #155799,
    #159957
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
