html {
  height: 100%;
  min-height: 100%;
  width: 100%;
  margin: 0;
}

body {
  height: 100%;
  min-height: 100%;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;

  background-attachment: fixed;
  background: #aaffa9; /* fallback for old browsers */
  background: -webkit-linear-gradient(45deg, #11ffbd, #aaffa9) fixed; /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(45deg, #11ffbd, #aaffa9) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

p,
body {
  font-family: 'Crimson Text';
}

p {
  margin: 0.5em 0;
}

button,
input {
  font-family: 'Work Sans';
}

label {
  font-style: oblique;
}

*,
*:before {
  box-sizing: border-box;
}

h1 {
  font-family: 'Crimson Text';
  font-weight: bold;
  margin: 0;
}

textarea,
input[type='text'] {
  font-size: 16px;
  padding: 15px 20px;
  border-radius: 4px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.24);
  border: none;
  -webkit-appearance: none;
  -webkit-box-shadow: 0 4px 15px rgba(0, 0, 0, 0.24);
}

textarea {
  height: 5em;
  width: 100%;
}
